<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT about ANY>
<!ATTLIST about id ID #REQUIRED>
<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT comment ANY>
<!ATTLIST comment id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT loginPage ANY>
<!ATTLIST loginPage id ID #REQUIRED>
<!ELEMENT master ANY>
<!ATTLIST master id ID #REQUIRED>
<!ELEMENT members ANY>
<!ATTLIST members id ID #REQUIRED>
<!ELEMENT projectsItem ANY>
<!ATTLIST projectsItem id ID #REQUIRED>
<!ELEMENT projectsMain ANY>
<!ATTLIST projectsMain id ID #REQUIRED>
<!ELEMENT textPage ANY>
<!ATTLIST textPage id ID #REQUIRED>

]>
<root id="-1">
  <homePage id="1075" key="e6a2cd5c-44fe-4f72-b067-388adf46223a" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-04-02T04:29:41" updateDate="2016-04-02T04:33:17" nodeName="Homepage" urlName="homepage" path="-1,1075" isDoc="" nodeType="1063" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1062" nodeTypeAlias="homePage">
    <navHide>0</navHide>
    <pageTitle><![CDATA[Homepage]]></pageTitle>
    <siteTitle><![CDATA[Home]]></siteTitle>
    <pageContent><![CDATA[<p>Hello World Wide Web!</p>]]></pageContent>
    <homePageImage><![CDATA[{
  "focalPoint": {
    "left": 0.73333333333333328,
    "top": 0.72972972972972971
  },
  "src": "/media/1001/howtocompute.gif"
}]]></homePageImage>
    <footerText><![CDATA[Copyright Kneth-Tech 2016]]></footerText>
    <about id="1076" key="bdb2ecba-8cfb-4957-a67e-08f0eed26a5d" parentID="1075" level="2" creatorID="0" sortOrder="0" createDate="2016-04-02T04:41:48" updateDate="2016-04-02T04:42:32" nodeName="About" urlName="about" path="-1,1075,1076" isDoc="" nodeType="1051" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1050" nodeTypeAlias="about">
      <navHide>0</navHide>
      <aboutTitle><![CDATA[About Us]]></aboutTitle>
      <aboutText><![CDATA[<p style="margin: 0in; font-family: Verdana; font-size: 8.25pt; color: black;">Here's a lot of text about us, Who we are, what we are doing, why we are doing it. and why you should care.</p>
<p style="margin: 0in; font-family: Verdana; font-size: 8.25pt; color: black;"> </p>
<p style="margin: 0in; font-family: Verdana; font-size: 8.25pt; color: black;">As this is more a visual project than an text based project. Most, if not all the text on this site will be pointless, as it's just here to indicate a real website! </p>
<p style="margin: 0in; font-family: Verdana; font-size: 8.25pt; color: black;">So reading any further would be pointless, as there is no more to get from this "fake" text I wrote in a few seconds, just to make this page seem less empty.</p>]]></aboutText>
      <aboutImage><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "src": "/media/1002/all.png"
}]]></aboutImage>
    </about>
    <contact id="1077" key="7837e064-580a-444f-af94-449a73adfcf3" parentID="1075" level="2" creatorID="0" sortOrder="1" createDate="2016-04-02T04:42:49" updateDate="2016-04-02T04:52:00" nodeName="Contact Us" urlName="contact-us" path="-1,1075,1077" isDoc="" nodeType="1061" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1060" nodeTypeAlias="contact">
      <navHide>0</navHide>
    </contact>
    <articlesMain id="1078" key="f8b23524-f441-444b-9861-006ef5107dc9" parentID="1075" level="2" creatorID="0" sortOrder="2" createDate="2016-04-02T04:44:40" updateDate="2016-04-02T04:44:40" nodeName="Articles" urlName="articles" path="-1,1075,1078" isDoc="" nodeType="1053" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1052" nodeTypeAlias="articlesMain">
      <navHide>0</navHide>
      <articleText><![CDATA[<p>Here you'll find all the latest Articles!</p>]]></articleText>
      <articlesTitle><![CDATA[Articles]]></articlesTitle>
      <articlesItem id="1079" key="5620e081-f914-45ba-84e1-b6cd65fe9e5c" parentID="1078" level="3" creatorID="0" sortOrder="0" createDate="2016-04-02T04:46:04" updateDate="2016-04-02T04:46:04" nodeName="Article Item - Test" urlName="article-item-test" path="-1,1075,1078,1079" isDoc="" nodeType="1055" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1054" nodeTypeAlias="articlesItem">
        <navHide>0</navHide>
        <articleText><![CDATA[<p>This is a article about the fact, that the article section is now working!</p>]]></articleText>
        <articlesTitle><![CDATA[The Article sections, are now functional!]]></articlesTitle>
      </articlesItem>
      <articlesItem id="1080" key="72caafbd-7ab1-4578-8455-ea198b65242d" parentID="1078" level="3" creatorID="0" sortOrder="1" createDate="2016-04-02T04:49:08" updateDate="2016-04-02T04:49:08" nodeName="Test Article" urlName="test-article" path="-1,1075,1078,1080" isDoc="" nodeType="1055" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1054" nodeTypeAlias="articlesItem">
        <navHide>0</navHide>
        <articleText><![CDATA[<p>1: Test for testing.</p>
<p>2: We even have test in all our tests!</p>
<p>3: The text in the test is full of testtext!</p>
<p>4:   </p>
<p>5: All the test in this test is made by the best testers from the best testtown in the testkingdom!</p>]]></articleText>
        <articlesTitle><![CDATA[5 reasons why this is the best test article ever! and you won't believe number 4!]]></articlesTitle>
      </articlesItem>
    </articlesMain>
    <projectsMain id="1081" key="b425ce1c-78db-4595-a139-df55282d71e0" parentID="1075" level="2" creatorID="0" sortOrder="3" createDate="2016-04-02T04:49:37" updateDate="2016-04-03T20:34:49" nodeName="Projects" urlName="projects" path="-1,1075,1081" isDoc="" nodeType="1071" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1070" nodeTypeAlias="projectsMain">
      <navHide>0</navHide>
      <projectsItem id="1082" key="6f5c6847-c17f-459c-9521-13d92937f1f9" parentID="1081" level="3" creatorID="0" sortOrder="0" createDate="2016-04-02T04:50:15" updateDate="2016-04-03T19:55:47" nodeName="Test Project" urlName="test-project" path="-1,1075,1081,1082" isDoc="" nodeType="1069" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1068" nodeTypeAlias="projectsItem">
        <navHide>0</navHide>
        <projectStatus><![CDATA[Done]]></projectStatus>
        <projectTitle><![CDATA[A small test project]]></projectTitle>
        <projectBody><![CDATA[A small test project with a title, status, and some text]]></projectBody>
      </projectsItem>
      <projectsItem id="1083" key="80dcc0c4-49a9-426e-affe-5f498f2f328c" parentID="1081" level="3" creatorID="0" sortOrder="1" createDate="2016-04-02T04:52:42" updateDate="2016-04-03T19:56:16" nodeName="Styling" urlName="styling" path="-1,1075,1081,1083" isDoc="" nodeType="1069" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1068" nodeTypeAlias="projectsItem">
        <navHide>0</navHide>
        <projectStatus><![CDATA[Done]]></projectStatus>
        <projectTitle><![CDATA[Styling project]]></projectTitle>
        <projectBody><![CDATA[This site need some styling!]]></projectBody>
      </projectsItem>
      <projectsItem id="1084" key="5b7665b0-ab3c-46cc-8d3d-3f73df1d1f79" parentID="1081" level="3" creatorID="0" sortOrder="2" createDate="2016-04-02T04:53:27" updateDate="2016-04-03T19:56:33" nodeName="SOE" urlName="soe" path="-1,1075,1081,1084" isDoc="" nodeType="1069" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1068" nodeTypeAlias="projectsItem">
        <navHide>0</navHide>
        <projectStatus><![CDATA[Idea]]></projectStatus>
        <projectTitle><![CDATA[SOE]]></projectTitle>
        <projectBody><![CDATA[The site need to be SEO friendly!]]></projectBody>
      </projectsItem>
      <projectsItem id="1085" key="292a28a4-67b6-412f-bb06-7da8e25dc45f" parentID="1081" level="3" creatorID="0" sortOrder="3" createDate="2016-04-02T04:54:17" updateDate="2016-04-03T19:58:15" nodeName="Just Another Test Project" urlName="just-another-test-project" path="-1,1075,1081,1085" isDoc="" nodeType="1069" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1068" nodeTypeAlias="projectsItem">
        <navHide>0</navHide>
        <projectStatus><![CDATA[Dropped]]></projectStatus>
        <projectTitle><![CDATA[Test]]></projectTitle>
        <projectBody><![CDATA[Have to test, if the site works as it's supposed to, when there is more than 3 projects]]></projectBody>
      </projectsItem>
    </projectsMain>
    <members id="1086" key="56c0fbc3-bbe3-4b8e-a943-086b0e3747fe" parentID="1075" level="2" creatorID="0" sortOrder="4" createDate="2016-04-02T04:54:37" updateDate="2016-04-03T20:34:51" nodeName="Members" urlName="members" path="-1,1075,1086" isDoc="" nodeType="1067" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1066" nodeTypeAlias="members">
      <navHide>0</navHide>
    </members>
    <textPage id="1087" key="e455f4c7-7964-4623-a228-fd09eef88013" parentID="1075" level="2" creatorID="0" sortOrder="5" createDate="2016-04-02T04:55:22" updateDate="2016-04-03T17:51:06" nodeName="No Access" urlName="no-access" path="-1,1075,1087" isDoc="" nodeType="1073" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1072" nodeTypeAlias="textPage">
      <metaKeywords><![CDATA[You don't have access to this page!]]></metaKeywords>
      <metaDescription><![CDATA[You don't have access to this page!]]></metaDescription>
      <navHide>1</navHide>
    </textPage>
    <loginPage id="1088" key="54b3d663-467c-46d0-a736-d0c91c66dc8e" parentID="1075" level="2" creatorID="0" sortOrder="6" createDate="2016-04-02T04:55:45" updateDate="2016-04-02T04:56:16" nodeName="LogIn" urlName="login" path="-1,1075,1088" isDoc="" nodeType="1065" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1064" nodeTypeAlias="loginPage">
      <navHide>0</navHide>
    </loginPage>
    <projectsMain id="1089" key="053c16dc-665a-4223-8de0-c507a3ce8b58" parentID="1075" level="2" creatorID="0" sortOrder="7" createDate="2016-04-02T04:56:12" updateDate="2016-04-02T04:56:12" nodeName="Project List" urlName="project-list" path="-1,1075,1089" isDoc="" nodeType="1071" creatorName="Kenneth Bovbjerg Thøgersen" writerName="Kenneth Bovbjerg Thøgersen" writerID="0" template="1070" nodeTypeAlias="projectsMain">
      <navHide>0</navHide>
    </projectsMain>
  </homePage>
</root>